---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #F05F40;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;



/* Header alignment fixes */
.header-text {
  text-align: center;

  hr {
    margin: 20px auto;
  }
}

.header-buttons {
  display: flex;
  justify-content: center;
}


/* Page Layout Styles */
.page-header {
  background-color: $theme-dark;
  color: white;
  padding: 100px 0 60px;
  text-align: center;
  
  h1 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
    margin: 20px auto;
  }
  
  .page-subtitle {
    font-size: 18px;
    color: rgba(white, 0.8);
    max-width: 600px;
    margin: 0 auto;
  }
}

.page-content {
  padding: 80px 0;
  
  h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: $theme-dark;
  }
  
  h3 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: $theme-primary;
  }
  
  p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  
  .content-section {
    margin-bottom: 60px;
  }
}










