---
layout: front
---

{% include header.html %}


<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="primary">
                <p>I'm a mechanical engineering student at Oregon State University with hands-on experience in design, manufacturing, and technical problem-solving. My background combines military service, machine shop experience, and academic rigor to deliver practical engineering solutions.</p>
            </div>
        </div>
    </div>
</section>


<!-- Quick Stats -->
<section class="bg-primary" id="stats">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3 col-md-6">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap text-white wow bounceIn"></i>
                    <h3 class="text-white">GPA: 3.86</h3>
                    <p class="text-faded">ME: Robotics & Control</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-box">
                    <i class="fa fa-4x fa-briefcase text-white wow bounceIn" data-wow-delay=".1s"></i>
                    <h3 class="text-white">5 Years</h3>
                    <p class="text-faded">Avionics Technician, USAF</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-box">
                    <i class="fa fa-4x fa-wrench text-white wow bounceIn" data-wow-delay=".2s"></i>
                    <h3 class="text-white">Machine Shop</h3>
                    <p class="text-faded">CNC & Manual Machining</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-box">
                    <i class="fa fa-4x fa-laptop text-white wow bounceIn" data-wow-delay=".3s"></i>
                    <h3 class="text-white">Technical Skills</h3>
                    <p class="text-faded">CAD · CAM · CNC · Programming</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
  #portfolio {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('/img/portfolio/4.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
  }
</style>


{% include portfolio.html %}
{% include highlights.html %}
