<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get In Touch</h2>
                <hr class="primary">
                <p>Thank you for taking the time to review my portfolio. If you would like to discuss my work, experience, or potential opportunities, please contact me via email. Additional contact details can be shared upon request.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-email text-center">
                    <a href="mailto:{{ site.email }}">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>{{ site.email }}</p>
                    </a>
                </div>
            </div>
        </div>

        
    </div>
</section>
