<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Perry J. Johnston</h1>
            <h2>Portfolio Website</h2>
            <hr>
            <p>I’m Perry Johnston, an engineering student and problem solver, showcasing projects, technical skills, and experiences that demonstrate my passion for innovation and applied learning.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
