<header class="home-header">
    <div class="header-content">
        <div class="header-content-inner">
            <div class="header-text">
                <h1>Perry J. Johnston</h1>
                <h2>Mechanical Engineering Student</h2>
                <hr>
                <p>Focused on hands-on design, analysis, and practical problem-solving.</p>
                <div class="header-buttons">
                    <a href="/files/Resume_Public.pdf" class="btn btn-primary btn-xl">Download Resume</a>
                    <a href="mailto:{{ site.email }}" class="btn btn-primary btn-xl">Email Me</a>
                </div>
            </div>
            <div class="header-image">
                <img src="/img/headshot.jpg" alt="Perry Johnston" class="profile-photo" style="width: 400px; height: 500px; object-fit: cover; border-radius: 40%; object-position: center 61%; margin-top: 30px;">
            </div>
        </div>
    </div>
</header>
